{{!-- formulario de los productos --}}


{{!-- Plantilla con la tabla para mostrar los productos --}}

<div class="h-100 w-100 mt-5">
    {{#if productoTrue}}
    <div class="table w-75 mx-auto">
        <table class="table table-light table-striped">
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Foto</th>
            </tr>
            {{#each producto}}
            <tr>
                <td class="text-center">{{this.title}}</td>
                <td class="text-center">${{this.price}}</td>
                <td class="text-center"><img width="50" src={{this.thumbnail}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="alert alert-danger">No hay productos</h3>
    {{/if}}
    </div>
    
    {{!-- centro de mensajeria --}}

    <div class="h-100 w-100 mt-5">
        <h1 class="text-dark text-center my-4">CENTRO DE MENSAJES</h1>
        
        <form class="w-75 mx-auto" onsubmit="return addMessage(this)">
            <input class="form-control my-2" type="email" id="email" placeholder="Su correo electronico" required>
            <div id="messages" class="text-start"></div>
            <input class="form-control my-2" type="text" id="text" placeholder="Escriba su mensaje" required>
            <div class="d-flex justify-content-around align-items-center my-2">
                <input class="btn btn-outline-dark h-50" type="submit" value="Enviar"></input>
            </div>
        </form>
    </div>