extends layouts/main.pug

block contenido
    div(class="h-100 w-100")
        h1(class="text-dark text-center my-4")='INGRESE PRODUCTOS'
        form(class="w-75 mx-auto" action="/productos" method="POST")
            div(class="mb-3")
                label(for="title" class="form-label") Nombre:
                input(type="text" class="form-control" name='title' id="title")
            div(class="mb-3")
                label(class="form-label" for="price") Precio:
                input(class="form-control" type="text" name='price')
            div(class="mb-3")
                label(class="form-label" for="thumbnail") Foto URL:
                input(class="form-control" type="text" name='thumbnail')
            div(class="d-flex justify-content-around align-items-center")
                button(class="btn btn-outline-dark h-50") Agregar
                a(href="/productos" type="button" class="btn btn-outline-dark my-4 h-50")='Ver productos'